<section>
  <div class="container">
    <div class="heading">
      <h1>
        Case Forms
      </h1>
    </div>
    <div class="main-wrapp clearfix">
    <div class="list">
      <h3>Form List</h3>
      <ul style="list-style-type:none" class="form-list">
        <li *ngFor="let i of listArray">
          <input type="checkbox" [name]="i.name" [value]="i.name" [id]="i.id" [checked]="i.default" [disabled]="i.default"
            class="checkbox" (change)="showform($event)">{{i.name}}
        </li>
      </ul>
    </div>
    <div class="forms-main">
    <div class="forms" *ngFor="let j of selectedForm" [ngSwitch]="j.id">
      <div *ngSwitchCase="1">
        <h1>Form 1</h1>
        <form ngForm="form1">
          <div class="form-group">
            <input type="text" class="form-control" name="fname" placeholder="First Name">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" name="lname" placeholder="Last Name">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" name="address" placeholder="Address">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" name="number" placeholder="Mobile Number">
          </div>
        </form>
      </div>

      <div *ngSwitchCase="2">
        <h1>Form 2</h1>
        <form ngForm="form2">
          <div class="form-group">
            <input type="text" class="form-control" name="fname" placeholder="First Name">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" name="lname" placeholder="Last Name">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" name="address" placeholder="Address">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" name="number" placeholder="Mobile Number">
          </div>
        </form>
      </div>

      <div *ngSwitchCase="3">
        <h1>Form 3</h1>
        <form ngForm="form3">
          <div class="form-group">
            <input type="text" class="form-control" name="fname" placeholder="First Name">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" name="lname" placeholder="Last Name">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" name="address" placeholder="Address">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" name="number" placeholder="Mobile Number">
          </div>
        </form>
      </div>

      <div *ngSwitchCase="4">
        <h1>Form 4</h1>
        <form ngForm="form4">
          <div class="form-group">
            <input type="text" class="form-control" name="fname" placeholder="First Name">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" name="lname" placeholder="Last Name">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" name="address" placeholder="Address">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" name="number" placeholder="Mobile Number">
          </div>
        </form>
      </div>

      <div *ngSwitchCase="5">
        <h1>Form 5</h1>
        <form ngForm="form5">
          <div class="form-group">
            <input type="text" class="form-control" name="fname" placeholder="First Name">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" name="lname" placeholder="Last Name">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" name="address" placeholder="Address">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" name="number" placeholder="Mobile Number">
          </div>
        </form>
      </div>

      <div *ngSwitchCase="6">
        <h1>Form 6</h1>
        <form ngForm="form6">
          <div class="form-group">
            <input type="text" class="form-control" name="fname" placeholder="First Name">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" name="lname" placeholder="Last Name">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" name="address" placeholder="Address">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" name="number" placeholder="Mobile Number">
          </div>
        </form>
      </div>

    </div>
  </div> 
</div>
  </div>
</section>